Applied ADO.NET/Chap15/AddOrderClientApp/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetOrderFromDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderFromDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderFromDatabaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetOrderFromDatabaseSoapIn">
    <part name="parameters" element="s0:GetOrderFromDatabase" />
  </message>
  <message name="GetOrderFromDatabaseSoapOut">
    <part name="parameters" element="s0:GetOrderFromDatabaseResponse" />
  </message>
  <message name="InsertOrderSoapIn">
    <part name="parameters" element="s0:InsertOrder" />
  </message>
  <message name="InsertOrderSoapOut">
    <part name="parameters" element="s0:InsertOrderResponse" />
  </message>
  <message name="GetOrderFromDatabaseHttpGetIn">
    <part name="orderID" type="s:string" />
  </message>
  <message name="GetOrderFromDatabaseHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="InsertOrderHttpGetIn">
    <part name="OrderInfo" type="s1:StringArray" />
  </message>
  <message name="InsertOrderHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="GetOrderFromDatabaseHttpPostIn">
    <part name="orderID" type="s:string" />
  </message>
  <message name="GetOrderFromDatabaseHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="InsertOrderHttpPostIn">
    <part name="OrderInfo" type="s1:StringArray" />
  </message>
  <message name="InsertOrderHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <portType name="Service1Soap">
    <operation name="GetOrderFromDatabase">
      <documentation>Retrieve an order from Northwind </documentation>
      <input message="s0:GetOrderFromDatabaseSoapIn" />
      <output message="s0:GetOrderFromDatabaseSoapOut" />
    </operation>
    <operation name="InsertOrder">
      <documentation>Inser Order from an Array</documentation>
      <input message="s0:InsertOrderSoapIn" />
      <output message="s0:InsertOrderSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="GetOrderFromDatabase">
      <documentation>Retrieve an order from Northwind </documentation>
      <input message="s0:GetOrderFromDatabaseHttpGetIn" />
      <output message="s0:GetOrderFromDatabaseHttpGetOut" />
    </operation>
    <operation name="InsertOrder">
      <documentation>Inser Order from an Array</documentation>
      <input message="s0:InsertOrderHttpGetIn" />
      <output message="s0:InsertOrderHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="GetOrderFromDatabase">
      <documentation>Retrieve an order from Northwind </documentation>
      <input message="s0:GetOrderFromDatabaseHttpPostIn" />
      <output message="s0:GetOrderFromDatabaseHttpPostOut" />
    </operation>
    <operation name="InsertOrder">
      <documentation>Inser Order from an Array</documentation>
      <input message="s0:InsertOrderHttpPostIn" />
      <output message="s0:InsertOrderHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetOrderFromDatabase">
      <soap:operation soapAction="http://tempuri.org/GetOrderFromDatabase" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/InsertOrder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="GetOrderFromDatabase">
      <http:operation location="/GetOrderFromDatabase" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="InsertOrder">
      <http:operation location="/InsertOrder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="GetOrderFromDatabase">
      <http:operation location="/GetOrderFromDatabase" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="InsertOrder">
      <http:operation location="/InsertOrder" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <documentation>Working with Orders in Northwind</documentation>
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/AppliedADONet/Ch15/OrderRetrievalWebService/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/AppliedADONet/Ch15/OrderRetrievalWebService/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/AppliedADONet/Ch15/OrderRetrievalWebService/Service1.asmx" />
    </port>
  </service>
</definitions>